/* styling for forms */
body {
  background-image: url("img/mesh2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h3, p{
  text-align: center;
  font-style: bold;
  font-weight: 500%;
  margin-bottom: 5px;
}

 .form-holder{
  display: flex;
  justify-content:center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}
.flight-content{
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}
.flight-content .form-group{
  box-shadow: 30px 30px 80px #d3d3d3;
  padding: 30px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  max-width: 543px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
} 
    .form-control{
      border: .1em solid black;
      border-radius: 20px;
      display:flex;
      align-content: space-between;
    }
    .form-group-side .arrows{
        /* margin: 40px; */
        /* gap: 0.5px; */
        /* padding-bottom: 3px; */
        justify-content: space-between;
    }
  .arrows{
    display: flex;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 13px;
    width: 40%;
    height: 30%;
    margin: auto;
    /* align-content: center; */
    /* gap: 90%; */
  
  }
.flight-content .airport{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-right: 40px;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

/* editing the drive form */
.drive-content{
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}
.drive-content .form-group{
  box-shadow: 30px 30px 80px #d3d3d3;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
} 
.drive-content .form-btn{
  border-radius: 20px;
}
.form-control{
  border: .1em solid black;
  border-radius: 20px;
}

#makeDropDown, #modelDropDown, #yearDropDown{
  display:flex;
  align-content: space-around;
  /* border: .1px solid black; */
  border-radius: 10px;
  align-content: space-between;
  margin-bottom: 5px;

}
.distance .form-control{
  border-radius: 10px;
}

/* styling for login content */
.login-content{
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}
.login-content .form-group{
  box-shadow: 30px 30px 80px #d3d3d3;
  padding: 30px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  max-width: 543px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.login-content .submit-btn{
  margin-top: 10px;
}
/* styling for header content */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:1000;
}

/* css for the nav bar */
.logo {
  color: black;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navigation li {
  list-style: none;
}

.navigation li a {
  text-decoration: none;
  padding: 6px 15px;
  color: black;
  border-radius: 20px;
}

.navigation li a:hover, .navigation li a:active{
  background: black;
  color: white;
}

.header {
  position: relative;
  padding: 100px;
  padding-bottom: 0px;
  margin-top: 80px;
  margin-left: 50px;
}

.title {
  font-size: 80px;
}

.subtitle {
  font-size:40px;
}

/* css for the card*/
 /* card css */
  .left {
    margin-left: -5%;
  }

  .down {
  margin-top: 30%;
  }

    .main-inner {
      padding-left: 30%;
    }
   .main-box {
  	 display: flex;
  	 flex-direction: column;
  	 justify-content: left;
  	 width: 400px;
  	 border-radius: 20px;
  	 padding: 20px;
  	 box-shadow: 30px 30px 80px #d3d3d3;
  	 transition: all 200ms;
  }
   .main-box:hover {
  	 box-shadow: 10px 10px 50px #a2a2a2;
  }
   .main h2 {
  	 font-size: 30px;
  	 line-height: 35px;
  	 padding-bottom: 10px;
  }
   .main p {
  	 font-size: 12px;
  	 color: #656565;
  }
   .main .img {
  	 /* display: flex;
  	 justify-content: center; */
     margin-left: 70px;
  	 margin-right: 100px;
  	 margin-top: -120px;
  	 margin-bottom: 20px;
  }
   .main .img img {
  	 width: 200px;
  }
