
/* css for the background image */
body {
   background-image: url("img/mesh3.png");
   background-color: white;
   background-repeat: no-repeat;
   background-size: cover;
}

/* CSS for the circles and clickable options */
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
 * {
	 box-sizing: border-box;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

 body .page {
	 margin: 0 auto;
	 width: 920px;
   height: 40px;
   padding-left: 5%;
   margin-top: -80px;
}
 body .content {
	 width: 33.33%;
	 display: inline-block;
	 margin-right: 50 ;
	 position: relative;
	 height: 100vh;
	 max-width: 350px;
}
 body .circle_inner__layer {
	 width: 600px;
	 height: 350px;
	 transition: all 0.4s;
	 position: absolute;
	 top: 0;
	 left: -350px;
}
 body .circle_inner__layer img {
	 width: 100%;
	 position: absolute;
	 bottom: 0;
}
 body .circle {
	 position: absolute;
	 left: 0;
	 right: 0;
	 margin: auto;
	 top: 50%;
	 width: 350px;
	 transform: translateY(-50%);
	 transition: all 0.5s;
	 cursor: pointer;
}
 body .circle:hover .circle_shine {
	 top: 330px;
	 left: -350px;
}
 body .circle_shine {
	 /* background: white; */
	 width: 600px;
	 transition: 0.3s;
	 height: 350px;
	 opacity: 0.2;
	 top: -10px;
	 left: -90px;
	 transform: rotate(45deg);
	 position: absolute;
	 z-index: 2;
}

#circle2 {
  margin-left: 160px;
}
 body .circle:hover h2, body .circle:hover h3 {
	 opacity: 1;
	 top: -36px;
}
 body .circle:hover .content_shadow {
	 transform: scale(1.1);
	 top: -22px;
}
 body .circle:hover h3 {
	 transition: all 0.2s 0.04s;
}
 body .circle:hover h2 {
	 transition: all 0.2s;
}
 body .circle .circle_inner__layer:nth-of-type(1) {
	 top: -50px;
	 left: 0px;
}
/* ground  */
 body .circle .circle_inner__layer:nth-of-type(2) {
	 top: 0px;
	 left: -210px;
}
 body .circle .circle_inner__layer:nth-of-type(3) {
	 top: -5px;
	 left: -440px;
}
 body .circle_title {
	 text-align: center;
}
 body .circle_title h2, body .circle_title h3 {
	 opacity: 0;
	 color: #4a7479;
	 margin: 0;
	 transition: all 0.2s 0.04s;
	 position: relative;
	 top: -10px;
}
 body .circle_title h3 {
	 transition: all 0.2s;
	 color: #b0d5d6;
	 font-size: 15px;
}
 body .circle_inner {
	 border-radius: 350px;
	 background: #b0d5d6;
	 overflow: hidden;
	 margin: auto;
	 width: 350px;
	 z-index: 1;
	 transition: all 0.3s;
	 height: 350px;
	 position: relative;
}
 body .circle_inner:hover {
	 transform: scale(1.1);
}
 body .circle_inner:hover .circle_inner__layer:nth-of-type(1) {
	 left: -80px;
	 transition: all 4s linear;
}
 body .circle_inner:hover .circle_inner__layer:nth-of-type(2) {
	 left: -300px;
	 transition: all 4s linear;
}
 body .circle_inner:hover .circle_inner__layer:nth-of-type(3) {
	 left: -140px;
	 transition: all 4s linear;
}
 body .content_shadow {
	 width: 350px;
	 box-shadow: 0px 31px 19px -2px #e0e8f9;
	 height: 20px;
	 border-radius: 70%;
	 position: relative;
	 top: -44px;
	 transition: all 0.3s;
	 z-index: 0;
}

.center {
  padding-top: 10%;
  font-size: 50px;
}

/* typing effect */
.typed {
  padding-left: 27%;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* css for the nav bar */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:1000;
}

.logo {
  color: black;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navigation li {
  list-style: none;
}

.navigation li a {
  text-decoration: none;
  padding: 6px 15px;
  color: black;
  border-radius: 20px;
}

.navigation li a:hover, .navigation li a:active{
  background: black;
  color: white;
}

.header {
  position: relative;
  padding: 100px;
  padding-bottom: 0px;
  margin-top: 80px;
  margin-left: 50px;
}

.title {
  font-size: 80px;
}

.subtitle {
  font-size:40px;
}

/* hover effect for the logo */
 .hello {
    text-decoration: none;
    background: linear-gradient(to right,
            black, #0d0d0d,#141010,#0f0b0b, #4242bd ,teal,darkcyan, darkgreen);
    background-size:200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;

  }

  .hello:hover{

    background-position: -100%;
  }