{% extends 'layout.html' %}
{% block content %}
    <div class="drive-content">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class = 'form-group'>
            <div class="form-group">
                {{ form.vehiclemodel.label(class='form-control-label') }}
                {% if form.vehiclemodel.errors %}
                {{ form.vehiclemodel(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.vehiclemodel.errors %}
                    <span>{{error}}</span>
                {% endfor %}
                </div>
                {% else %}
                    {{ form.vehiclemodel(class="form-control form-control-lg") }}
                {% endif %}
            </div>
           <!-- validation for distance -->
           <div class="form-group">
            {{ form.distance.label(class='form-control-label') }}
            {% if form.distance.errors %}
            {{ form.distance(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
            {% for error in form.distance.errors %}
                <span>{{error}}</span>
            {% endfor %}
            </div>
            {% else %}
                {{ form.distance(class="form-control form-control-lg") }}
            {% endif %}
        </div>
            </fieldset>
              <!-- submit button -->
           <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
           </div>
        </form>
    </div>
{% endblock content %}