{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./{{ url_for('static', filename='./forms.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>


<br>
<div class="form-holder">
    <h3>Calculating Driving Emissions</h3>
        <p>Enter car make/model and distance to calculate carbon emissions.</p>
<div class="drive-content">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class='form-group'>
            <select name="make" id="makeDropDown" class='topbottomspacing' style="width:60%">
                <option value="Acura">Acura</option>
                <option value="AM General">AM General</option>
                <option value="Audi">Audi</option>
                <option value="Austin-Healey">Austin-Healey</option>
                <option value="Autokraft Limited">Autokraft Limited</option>
                <option value="Avanti Motor Corporation">Avanti Motor Corporation</option>
                <option value="Bentley">Bentley</option>
                <option value="Bertone">Bertone</option>
                <option value="Bitter Gmbh and Co. Kg">Bitter Gmbh and Co. Kg</option>
                <option value="BMW">BMW</option>
                <option value="BMW Alpina">BMW Alpina</option>
                <option value="Bugatti">Bugatti</option>
                <option value="Buick">Buick</option>
                <option value="BYD">BYD</option>
                <option value="Cadillac">Cadillac</option>
                <option value="CCC Engineering">CCC Engineering</option>
                <option value="Chevrolet">Chevrolet</option>
                <option value="Chrysler">Chrysler</option>
                <option value="CODA Automotive">CODA Automotive</option>
                <option value="Consulier Industries Inc">Consulier Industries Inc</option>
                <option value="CX Automotive">CX Automotive</option>
                <option value="Dabryan Coach Builders Inc">Dabryan Coach Builders Inc</option>
                <option value="Dacia">Dacia</option>
                <option value="Daewoo">Daewoo</option>
                <option value="Daihatsu">Daihatsu</option>
                <option value="Dodge">Dodge</option>
                <option value="E. P. Dutton, Inc.">E. P. Dutton, Inc.</option>
                <option value="Eagle">Eagle</option>
                <option value="Evans Automobiles">Evans Automobiles</option>
                <option value="Excalibur Autos">Excalibur Autos</option>
                <option value="Ferrari">Ferrari</option>
                <option value="Fiat">Fiat</option>
                <option value="Fisker">Fisker</option>
                <option value="Ford">Ford</option>
                <option value="General Motors">General Motors</option>
                <option value="Geo">Geo</option>
                <option value="Genesis">Genesis</option>
                <option value="GMC">GMC</option>
                <option value="Goldacre">Goldacre</option>
                <option value="Grumman Allied Industries">Grumman Allied Industries</option>
                <option value="Grumman Olson">Grumman Olson</option>
                <option value="Honda">Honda</option>
                <option value="Hummer">Hummer</option>
                <option value="Hyundai">Hyundai</option>
                <option value="Import Foreign Auto Sales Inc">Import Foreign Auto Sales Inc</option>
                <option value="Import Trade Services">Import Trade Services</option>
                <option value="Infiniti">Infiniti</option>
                <option value="Isis Imports Ltd">Isis Imports Ltd</option>
                <option value="Isuzu">Isuzu</option>
                <option value="J.K. Motors">J.K. Motors</option>
                <option value="Jaguar">Jaguar</option>
                <option value="JBA Motorcars, Inc.">JBA Motorcars, Inc.</option>
                <option value="Jeep">Jeep</option>
                <option value="Kenyon Corporation Of America">Kenyon Corporation Of America</option>
                <option value="Kia">Kia</option>
                <option value="Koenigsegg">Koenigsegg</option>
                <option value="Lamborghini">Lamborghini</option>
                <option value="Lancia">Lancia</option>
                <option value="Land Rover">Land Rover</option>
                <option value="Laforza Automobile Inc">Laforza Automobile Inc</option>
                <option value="Lexus">Lexus</option>
                <option value="London Coach Co Inc">London Coach Co Inc</option>
                <option value="London Taxi">London Taxi</option>
                <option value="Lotus">Lotus</option>
                <option value="Mahindra">Mahindra</option>
                <option value="Maserati">Maserati</option>
                <option value="Maybach">Maybach</option>
                <option value="Mazda">Mazda</option>
                <option value="McLaren Automotive">McLaren Automotive</option>
                <option value="McEvoy Motors">McEvoy Motors</option>
                <option value="Mercedes-Benz">Mercedes-Benz</option>
                <option value="Mercury">Mercury</option>
                <option value="Merkur">Merkur</option>
                <option value="MINI">MINI</option>
                <option value="Mobility Ventures LLC">Mobility Ventures LLC</option>
                <option value="Morgan">Morgan</option>
                <option value="Nissan">Nissan</option>
                <option value="Oldsmobile">Oldsmobile</option>
                <option value="Panoz Auto-Development">Panoz Auto-Development</option>
                <option value="Panos">Panos</option>
                <option value="Panther Car Company Limited">Panther Car Company Limited</option>
                <option value="Pagani">Pagani</option>
                <option value="PAS Inc - GMC">PAS Inc - GMC</option>
                <option value="PAS, Inc">PAS, Inc</option>
                <option value="Peugeot">Peugeot</option>
                <option value="Pininfarina">Pininfarina</option>
                <option value="Plymouth">Plymouth</option>
                <option value="Polestar Automotive USA Inc.">Polestar Automotive USA Inc.</option>
                <option value="Pontiac">Pontiac</option>
                <option value="Porsche">Porsche</option>
                <option value="Quantum Technologies">Quantum Technologies</option>
                <option value="Qvale">Qvale</option>
                <option value="Ram">Ram</option>
                <option value="Red Shift Ltd.">Red Shift Ltd.</option>
                <option value="Renault">Renault</option>
                <option value="Rolls-Royce">Rolls-Royce</option>
                <option value="Roush Performance">Roush Performance</option>
                <option value="Ruf Automobile Gmbh">Ruf Automobile Gmbh</option>
                <option value="RUF Automobile">RUF Automobile</option>
                <option value="Saab">Saab</option>
                <option value="Saleen">Saleen</option>
                <option value="Saleen Performance">Saleen Performance</option>
                <option value="Saturn">Saturn</option>
                <option value="Scion">Scion</option>
                <option value="Shelby">Shelby</option>
                <option value="smart">smart</option>
                <option value="Spyker">Spyker</option>
                <option value="Sterling">Sterling</option>
                <option value="STI">STI</option>
                <option value="Subaru">Subaru</option>
                <option value="SRT">SRT</option>
                <option value="Suzuki">Suzuki</option>
                <option value="Superior Coaches Div E.p. Dutton">Superior Coaches Div E.p. Dutton</option>
                <option value="Tecstar, LP">Tecstar, LP</option>
                <option value="Tesla">Tesla</option>
                <option value="Texas Coach Company">Texas Coach Company</option>
                <option value="TVR Engineering Ltd">TVR Engineering Ltd</option>
                <option value="Vector">Vector</option>
                <option value="Vixen Motor Company">Vixen Motor Company</option>
                <option value="Volkswagen">Volkswagen</option>
                <option value="Volga Associated Automobile">Volga Associated Automobile</option>
                <option value="Volvo">Volvo</option>
                <option value="VPG">VPG</option>
                <option value="Wallace Environmental">Wallace Environmental</option>
                <option value="Yugo">Yugo</option>
            </select>
            <select name="model" id="modelDropDown" class='topbottomspacing' style="width:60%">
                <option value="">Models</option>
            </select>
            <select name="year" id="yearDropDown" class='topbottomspacing' style="width:60%">
                <option value="">Year</option>
            </select>
            <!-- validation for distance -->
            <div class="distance">
                <!-- {{ form.distance.label(class='form-control-label') }} -->
                {% if form.distance.errors %}
                {{ form.distance(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.distance.errors %}
                    <span>{{error}}</span>
                {% endfor %}
                </div>
                {% else %}
                    {{ form.distance(class="form-control form-control-default", style='width:60%', placeholder="Enter distance traveled") }}
                {% endif %}
            </div>
        
        <!-- creating a mi/km checkbox -->
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="mi" checked> Mile(s)
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="km"> Kilometer(s)
          </label>
        <!-- submit button -->
        <div class="form-btn">
            {{ form.submit(class="btn btn-dark btn-default gradient topbottomspacing") }}
        </div>
        <div id="resultContainer"</div>
    </fieldset>
    </form>
    
</div>
</div>
<!-- JavaScript/jQuery -->
<script>
    function updateSecondDropdown() {
        const firstDropdownValue = $('#makeDropDown').val();
        console.log(firstDropdownValue)
        $.ajax({
            type: 'POST',
            url: '/get_models',
            data: {
                'selected_value': firstDropdownValue
            },
            dataType: 'json',
            success: function(data) {
                const options = data.options;
                console.log(options)
                const secondDropdown = $('#modelDropDown');
                secondDropdown.empty();
                options.sort()
                for(const option of options) {
                    secondDropdown.append($('<option>', {
                        value: option,
                        text: option
                    }));
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }

    function update3rdDD() {
        const secondDropdownValue = $('#modelDropDown').val();
        console.log(secondDropdownValue)
        $.ajax({
            type: 'POST',
            url: '/get_years',
            data: {
                'selected_value': secondDropdownValue
            },
            dataType: 'json',
            success: function(data) {
                const options = data.options;
                console.log(options)
                const thirdDropdown = $('#yearDropDown');
                thirdDropdown.empty();
                options.sort()
                for(const option of options) {
                    thirdDropdown.append($('<option>', {
                        value: option[1],
                        text: option[0]
                    }));
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }
    $('#makeDropDown').on('change', function() {
        console.log('CHANGE 2nd')
        updateSecondDropdown();
    });
    $('#modelDropDown').on('change', function() {
        console.log('CHANGE 3rd')
        update3rdDD();
    });
    updateSecondDropdown();
    update3rdDD();
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');
        const resultContainer = document.getElementById('resultContainer');
        form.addEventListener('submit', function(event) {
        event.preventDefault();
        console.log("reached 1")
        let id = document.querySelector("select[name=year]").value;
        console.log(id)
        let distance = document.querySelector("input[name=distance]").value;
        const radioMiles = document.getElementById("inlineRadio1");
        const radioKilometer = document.getElementById("inlineRadio2");
        let unit;
        if (radioKilometer.checked) {
            unit =  radioKilometer.value;
        } else {
            unit = radioMiles.value;
        } 
        console.log(distance)
        const data = {
            type: "vehicle",
            distance_unit: unit,
            distance_value: distance,
            vehicle_model_id: id
        };
        api = "{{url_for('lookup')}}"
        fetch(api, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data) // Convert the data object to JSON format
        }).then(function(response){
            console.log("reached 2")
            return response.json();
        }).then(function(response) {
            console.log(response.data.attributes)
            const { carbon_g, carbon_kg, carbon_lb } = response.data.attributes;
            const resultHTML = `
            <br>
            <hr>
            <p>Estimated Carbon Emissions:</p>
            <ul>
            <li>${carbon_g} Grams</li>
            <li>${carbon_kg} Kilograms</li>
            <li>${carbon_lb} Pounds</li>
            </ul>
            `;
            resultContainer.innerHTML = resultHTML
            }).catch(function(error) {
                console.log("Error in async");
            });
        });
    });
</script> 
</body>
</html>
{% endblock content %}