<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./{{ url_for('static', filename='./forms.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

<!-- navbar  -->
<header>
  <a href="#" class="logo">EcoPlanner</a>
  <ul class="navigation">
    <li><a href="{{ url_for('home')}}" class="active">Home</a></li>
    <li><a href="{{ url_for('travel')}}">Travel</a></li>
    <li><a href="{{ url_for('registration_Data') }}">Login</a></li>
    <li><a href="https://github.com/mavella17/EcoPlanner">Github </a></li>
  </ul>
</header>

{% block content %}
<div class="form-holder">
    <h3>Calculating Flight Emissions</h3>
        <p>Enter your flight information to calculate carbon emissions.</p>
    <div class="flight-content">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class = 'form-group'>
                <!-- wherefrom airport data -->
            <div class="airport">
                <!-- {{ form.wherefrom.label(class='form-control-label') }} -->
                {% if form.wherefrom.errors %}
                {{ form.wherefrom(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.wherefrom.errors %}
                    <span>{{error}}</span>
                {% endfor %}
                </div>
                {% else %}
                    {{ form.wherefrom(class="form-control form-control-default form-flight", style='width:50%', placeholder="Origin") }}
                {% endif %}
            <!-- adding arrows-->
            <div class="arrows" style="float:left">
                <img src="./static/exchange.png" alt="Two arrows" style="width:30%">
            </div> 
            
           <!-- validation for whereto airport -->
            <!-- {{ form.whereto.label(class='form-control-label') }} -->
            {% if form.whereto.errors %}
            {{ form.whereto(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
            {% for error in form.whereto.errors %}
                <span>{{error}}</span>
            {% endfor %}
            </div>
            {% else %}
                {{ form.whereto(class="form-control form-control-default form-flight", style='width:50%', placeholder="Destination") }}
            {% endif %}
        </div>
        <div class="col-md-12 form-passengers">
            <!-- {{ form.passengers.label(class='form-control-label') }} -->
            {% if form.passengers.errors %}
            {{ form.passengers(class="form-control is-invalid") }}
            <div class="invalid-feedback">
            {% for error in form.passengers.errors %}
                <span>{{error}}</span>
            {% endfor %}
            </div>
            {% else %}
                {{ form.passengers(class="form-control form-control-default", style='width:33%', placeholder="Passengers") }}
            {% endif %}
        </div>
            
              <!-- submit button -->
           <div class="form-btn">
            {{ form.submit(class="btn btn-dark btn-default gradient", style="margin-top:20px") }}
           </div>
           <div id="resultContainer"></div>
        </fieldset>
        </form>
    </div>
    
    
</div>


{% endblock content %}
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');
        const resultContainer = document.getElementById('resultContainer');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            console.log("reached 1")
            let origin = document.querySelector("input[name=wherefrom]").value.toUpperCase();
            let destination = document.querySelector("input[name=whereto]").value.toUpperCase();
            let numPass = document.querySelector("input[name=passengers]").value;
            const data = {
                type: "flight",
                passengers: numPass,
                legs: [
                    {departure_airport: origin, destination_airport: destination}
                ]
            };
        api = "{{url_for('lookup')}}"
        fetch(api, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data) // Convert the data object to JSON format
        }).then(function(response){
            console.log("reached 2")
            return response.json();
        }).then(function(response) {
            const { carbon_g, carbon_kg, carbon_lb } = response.data.attributes;
            const resultHTML = `
            <hr>
            <br>
            <p>Estimated Carbon Emissions:</p>
            <ul>
            <li>${carbon_g} Grams</li>
            <li>${carbon_kg} Kilograms</li>
            <li>${carbon_lb} Pounds</li>
            </ul>
            `;
            resultContainer.innerHTML = resultHTML
            }).catch(function(error) {
                console.log("Error in async");
            });
        });
    });
</script>
</html>