<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./{{ url_for('static', filename='./forms.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

<!-- navbar  -->
<header>
  <a href="#" class="logo">EcoPlanner</a>
  <ul class="navigation">
    <li><a href="{{ url_for('home')}}" class="active">Home</a></li>
    <li><a href="{{ url_for('travel')}}">Travel</a></li>
    <li><a href="{{ url_for('registration_Data') }}">Login</a></li>
    <li><a href="https://github.com/mavella17/EcoPlanner">Github </a></li>
  </ul>
</header>


{% block content %}
    <div class="form-holder">
        <h3>Sign Up</h3>
        <p>Sign up to save results from EcoPlanner!</p>
        <div class="login-content">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-content">
                <div class="form-group">
                    <div class="username">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="password">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            <div class="submit-btn">
                {{ form.submit(class="btn btn-dark btn-default gradient") }}
            </div>
        </div>
        </div>
    </fieldset>
        </form>
    </div>
{% endblock content %}
</body>
</html>