{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./{{ url_for('static', filename='./travel.css') }}">
    <title>Travel | EcoPlanner</title>
</head>
<body>
<!-- navbar  -->


<h2 class="fw-bold center hello typed" >How will you be Traveling?</h2>
<h4 style="padding-left:28%; font-size:22px; margin-top:-1%; ">Click the button below to be directed to the right page.</h4>
<div class="page">

  <!-- drive circle -->

  <div class="content">
    <a href="{{ url_for('drive_data')}}">
      <div class="circle">
        <div class="circle_title">
          <h2>Drive</h2>
        </div>
        <div class="circle_inner">
          <div class="circle_inner__layer">
            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/pc4.png' height="110%"></div>
          <div class="circle_inner__layer">
            <img src ='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/pc5.png'></div>
          <div class="circle_inner__layer">
            <img src ='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/pc6.png'></div>
        </div>
        <div class="content_shadow"></div>
      </div>
    </a>
  </div>

  <!-- flight circle -->
  <div class="content">
    <a href="{{ url_for('flight_data')}}">
      <div class="circle" id="circle2">
        <div class="circle_title">
          <h2>Flight</h2>
        </div>
        <div class="circle_inner">
          <div class="circle_inner__layer">
            <img src ='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/pc7.png' height="110%"></div>
          <div class="circle_inner__layer">
            <img src ='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/pc8.png' height="105%"></div>
          <div class="circle_inner__layer">
            <img src ='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/pc9.png' ></div>
        </div>
        <div class="content_shadow"></div>
      </div>
    </a>
  </div>
</div>



</body>
</html>
{% endblock content %}